@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
@font-face {
  font-family: "MintGrotesk";
  src: url("../public/fonts/MintGrotesk.otf");
  font-weight: 500;
}
@font-face {
  font-family: "WtfHorseland";
  src: url("../public/fonts/WtfHorseland.ttf");
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background-color: #0e1012;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #f3f6fa;
}
::-webkit-scrollbar-track {
  background-color: #0e1012;
}

@layer utilities {
  .res-text-xs {
    @apply text-xs md:text-sm;
  }

  .res-text-sm {
    @apply text-sm md:text-base;
  }

  .res-text-base {
    @apply text-base md:text-lg;
  }

  .res-text-lg {
    @apply text-lg md:text-xl;
  }

  .res-text-xl {
    @apply text-xl md:text-2xl;
  }

  .res-heading-xs {
    @apply text-base sm:text-lg md:text-xl;
  }

  .res-heading-sm {
    @apply text-lg sm:text-xl md:text-2xl;
  }

  .res-heading-base {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  .res-heading-lg {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  .res-heading-xl {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  .res-heading-2xl {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  .res-heading-3xl {
    @apply text-5xl sm:text-6xl md:text-7xl;
  }
  .res-heading-4xl {
    @apply text-6xl sm:text-7xl md:text-8xl;
  }
  .res-heading-5xl {
    @apply text-7xl sm:text-8xl md:text-9xl;
  }
}

